<!DOCTYPE html>
<html>
    <head>
        <title>Grade List</title>
        <link rel="stylesheet" type="text/css" href="../static/csstemplate.css">
    </head>

    <body>
        <h2>Grade List</h2>
    <div class="table-wrapper" >
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for row in grades %}
            <tr>
                {% for value in row %}
                <td>
                    {{value}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
    </body>
</html>

<!-- <div class="container">
    <table class="center">
        <colgroup>
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 30%;">
        </colgroup>
        <tr>
            <th>course id</th>
            <th>course name</th>
            <th>grade</th>
        </tr>
        {% for row in grades %}
        <tr>
            {% for value in row %}
            <td>
                {{value}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div> -->