<!DOCTYPE html>
<html>

<head>
    <title>Searched Courses</title>
    <link rel="stylesheet" type="text/css" href="../static/csstemplate.css">
</head>

<body>
    <h2>Course List</h2>
    <div class="table-wrapper" >
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Instructor</th>
                    <th>Department ID</th>
                    <th>Credits</th>
                    <th>Classroom ID</th>
                    <th>Time Slot</th>
                    <th>Quota</th>
                    <th>Prerequisite List</th>
                </tr>
            </thead>
            <tbody>
                {% for row in courses %}
            <tr>
                {% for value in row %}
                <td>
                    {{value}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
</body>

</html>